
.icon-order{

border: 2px solid  #dfdad3;
}
.icon-order:hover{

    background-color:  #dfdad3 !important;




}


.icon-cart{


    background-color:  #dfdad3

}


.buy-btn , .submit-btn{


    background-color:  #dfdad3 !important  ;
}
