
.icon-order{

border: 2px solid  #dfdad3;
}
.icon-order:hover{

    background-color:  #dfdad3 !important;




}


.icon-cart{


    background-color:  #dfdad3

}


.submit-btn{

padding: 50px;
    background-color:  #dfdad3 !important  ;
}
